*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

ul{
    list-style: none;
}

.footer__section__p{
    font-size: 12px;
}

.home__main__section__article__p--titular{
 font-size: 24px;
 color: var(--grisOscuro);
}

.home__main__section__article__p--precio{
    font-size: 18px;
}

.home__main__section__article__p--oferta{
    font-size: 16px;
}

.home__main__section__article__p--nombre{
    font-size: 16px;
    color: var(--grisOscuro);
    overflow:hidden;
}

.home__main__section__article p{
    margin: 0;
    height: 0;
    width: 100%;
    transition:all 1s;
}


.home__main__section__article:hover p{
    height: 15px;
    margin-top: 20px;
}

.header{
    background-color: var(--amarillo);
    padding:15px;
    display: flex;
    flex-wrap: wrap;
}

.header__a{
    width: 50%;
    
}

.header--buscador{
    width: 50%;
    position: relative;
}

.header__p--input{
    background-color: #fff;
    color: var(--grisOscuro);
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 5px;
}

.header__button--lupa{
    background-color: #fff;
    border: none;
    display: inline-block;
    position:absolute;
    top: 7px;
    right: 0;
}

.header__p{
    text-align: center;
    
}

.header__nav{
    margin: 20px 0 30px;
    display: none;
}

.header__nav__ul{
    margin-bottom: 15px;
    text-decoration: none;
    flex-wrap: wrap;
}

.header__nav__ul__li a{
    text-decoration: none;
    color: #000;
    padding-left: 12px;
}


.header__button--hamburguesa{
    color: var(--grisClaro);
    background-color: var(--celeste);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-left: 45%;
}

.home__main{
    background-color: var(--grisClaro);
    padding-bottom: 10px;
}

.home__main__section__img--banner{
    width: 100vw;
}

.home__main__section__article__p--titular{
    width: 100%;
}

.home__main__section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.home__main__section__article{
    background-color: #fff;
    margin-bottom: 10px;
    padding-bottom: 6px;
}

.home__main__section__article p{
    margin-left: 12px;
}

.home__main section img{
    width: 100%;
}

.home__main__section__article__div{
    padding-top: 15px;
    border-top: solid 1px var(--grisClaro);
    position: relative;
}

.home__main__section__article__div i{
    color: var(--verde);
    border: solid 1px var(--verde);
    border-radius: 100px;
    padding: 8px;
    position: absolute;
    right: 20px;
    top: -15px;
}
.home__main__section__article__div--info{
    display: flex;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
}

.home__main__section__article__p--precio{
    width: 25%;
    padding-bottom: 10px;
    display: inline-block;
}

.home__main__section__article__p--oferta{
    color: var(--verde);
    width: 65%;
    font-size: 0.9rem;
    align-items: center;
    display: inline-block;
}

.home__main__section__article__p--nombre{
    width: 100%;
}

.home__main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home__main__form{
    background-color: var(--grisClaro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.home__main__form__div{
    margin: 20px 0;
}

.home__main__form__div--texto{
    margin-top: 10px;
    font-size: 1.3rem;
}

.home__main__form__div__input{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.home__main__form__div--tipo{
    display: flex;
    justify-content: space-around;
}

.home__main__form__div__input--radio{
    margin: 0 12px;
}


.home__main__form__div__input--checkbox{
    margin: 0 10px;
}

.home__main__form__div__button{
    background-color: var(--celeste);
    color: #fff;
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 6px;
}

.footer{
    padding-top: 60px;
    height: 80vh;
}

.footer__section__div--icono{
    font-size: 2em;
    color: var(--celeste);
    text-align: center;
    margin-bottom: 10px;
}

.footer__section__p--negrita{
    font-size: 16px;
    color: var(--grisOscuro);
    text-align: center;
}

.footer__section__p{
    color: var(--grisOscuro);
    text-align: center;
    margin-bottom: 30px;
}

.footer__section__p--copyright{
    font-size: 12px;
    color: var(--grisOscuro);
    margin-left: 8px;
    padding-top: 30px;
    padding-bottom: 20px;
}


@media (min-width:361px)/* Resolucion de Tablet */{
    .header__nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header__nav__ul, .header__nav__ul--perfil{
        display: flex;
        flex-direction:row;
        align-self: center;
    }

    .header__nav__ul__li{
        margin: 0 2px;
    }
    
    .header__button--hamburguesa{
        display: none;
    }

    .header__nav__ul{
        margin-bottom: 0px;
    }

    .header__a{

        width: 33%;
    }

    .header--buscador{
        width: 33%;
        margin-top: 10px;
    }

    .header__p{
        width: 33%;
        margin-top: 8px;
    }

    .home__main__section{
        justify-content: space-between;
    }

    .home__main__section__article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 46%;
    }

    /* .home__main__section__article__p--nombre{
        display: block;
    } */

}
@media (min-width:769px)/* Resolucion de Desktop */{
    .header__nav__ul{
        margin-bottom: 0px;
    }
    
    .header__button--hamburguesa{
        display: none;
    }

    /* .home__main__section__article__p--nombre{
        display: block;
    } */

    .home__main__section__article{
        width: 24%;
    }
}